<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Clubs</title>
</head>
<body>
<h1>All Clubs</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type ID</th>
        <th>Description</th>
        <th>Mission</th>
        <th>Head</th>
        <th>Contact</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="club : ${clubs}">
        <td th:text="${club.id}"></td>
        <td>
            <a th:href="@{/clubs/{id}(id=${club.id})}" th:text="${club.name}"></a>
        </td>
        <td th:text="${club.getClubType_id}"></td>
        <td th:text="${club.description}"></td>
        <td th:text="${club.mission}"></td>
<!--        <td th:text="${club.getHead.getName()} + ${club.getHead().getSurname()}"></td>-->
        <td th:text="${club.contact}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
